<h2>View Spot</h2>
<div class="spot-display">
  <span class="output">Spot: <%= @spot.spots %></span><br>
  <span class="output">Vehicle Type: <%= @spot.vtype %></span><br>
  <span class="output">Status: <%= @spot.status ? "Allotted" : "Free" %></span><br>
</div>
