<h2>View Spot</h2>
<div class="spot-display">
  <span class="output">Spot: <%= @spots.spots %></span><br>
  <span class="output">Vehicle Type: <%= @spots.vtype %></span><br>
  <span class="output">Status: <%= @spots.status ? "Allotted" : "Free" %></span><br>
</div>
