<h2>View customer</h2>
<div class="spot-display">
  <span class="output">Email: <%= @user.email %></span><br>
  <span class="output">Name: <%= @user.name %></span><br>
  <span class="output">Role: <%= @user.role %></span><br>

</div>