<h2>View customer</h2>
<div class="spot-display">
  <span class="output">User ID: <%= @users.uid %></span><br>
  <span class="output">Name: <%= @users.name %></span><br>
  <span class="output">Role: <%= @users.role %></span><br>
</div>