<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h2>Hello </h2>
    <p>This email is to notify you that your parked vehicle's <%= @customer.vnum %> duration has exceeded 2 days. Please make arrangements to retrieve it as soon as possible.</p>
    <p>Best regards,</p>
    <p>Your Parking Team</p>
  </body>
</html>
